.link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.link:hover {
  color: #e9cca1;
  border-bottom: 1px solid #e9cca1;
}

/* MEDIA QUERIES */

@media (min-width: 2560px) {
  .link {
    font-size: 2.5rem;
  }
}
